footer{
    width: 100%;
    height: 100%;
    
  }
  
  #footerPart1{
      width: 70%;
      height: min-content;
      margin-left: 10%;
      display: flex;
      justify-content: space-between;
    }
    
    #reseau{
      display: flex;
      width:min-content;
    }
    
    .logoOrange{
      background-color: orange;
      height: 40px;
      width: 40px;
      margin-right: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .tailleImage{
    
      height: 30px;
      width: 30px;
    }
    
    .pointOrange{
      color: orange;
    }
    
    .infoOrange{
      
      color: orange;
      font-weight: bold;
    }
    
    #copyRight{
      margin-left: 10%;
      margin-top: 5%;
    } 
    
    .ses5{
    background-color: rgb(14,11,41);
    }
    
    #info p{
      color: aliceblue;
      margin-bottom: 15px;
    }
    
    #power p {
      color: aliceblue;
      margin-top: 15px;
    }
    
    #info{
      margin-top: 5%;
    }
    
    #power{
      margin-top: 5%;
    }
    
    #copyRight {
      color: aliceblue;
    }
    
    #footerPart2{
      margin-bottom: 5%;
    }
    .gotopbtn {     position: fixed;     width: 50px;     height: 50px;     background-color: orange;     bottom: 40px;     right: 50px;      text-decoration: none;     text-align: center;     line-height: 50px;     color: white;     font-size: 22px;      opacity: 50%; }