body{
    padding: 0 0 0 0;
    margin : 0 0 0 0;
    background-color: rgb(16,12,48);
    height: 100%;
    width: 100%;
}

.fond1{
background-image: url(https://as1.ftcdn.net/v2/jpg/02/38/67/72/1000_F_238677249_c5YBB99scr6fzuYa4lH1Rlj0EwnA3CHW.jpg);
height: 200px;
opacity: 80%;
width: 100%;
}



nav{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top : 0;
    color: white;
    font-size: 17px;
}

#nav1{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ajunav2{
    width: 50%;
}

#nav2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin : auto auto auto auto;
    
}

#nav2 p {
    margin-right: 10px;
}

#nav2 a {
    color: white;
    text-decoration: none;
}

#nav2  :nth-child(4){
    white-space: nowrap;
}



header{
    position: absolute;
    height: 20%;
    width: 100%;
    background-image: url("header.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 23px;
    top : 10%;
}

main{
    position: absolute;
    top : 30%;
    width: 100%;
    height: 80%;
    /* border-style: solid; */
}

#icone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 30%;
    /* border-style: solid; */
    margin : 13% auto auto auto;

}

.tel{
    width: 30%;
    height: 100%;
    /* border-style: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgb(15,11,38);
    border-radius: 10px;
    /* flex-wrap: wrap; */

}

.reptel{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;

}

#formu {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 300px;
    margin: 5% auto auto auto;
    justify-content: space-between;
    background-color: rgba(40, 45, 79, 0.757);
    /* border-style: solid; */

}

#nom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* height: 300px; */
    /* height: 120%; */
}

#divInputNom{
    height: 40px;
    width: 40%;
    background-color: rgba(40, 45, 79, 0.757);
}

#divInputEmail{
    height: 40px;
    width: 40%;
}

#divInputSujet{
    width: 100%;
    height: 40px;
}

#divInputMessage{
    height: 140px;
    width: 100%;

}

#inputMessage{
    height: 140px;
    width: 100%;
}

#inputNom{
    width: 100%;
    height: 40px;
}

#inputMail{
    height: 40px;
    width: 100%;
}

#inputSujet{
    width: 100%;
    height: 40px;
}

input {
    padding: 0 0 0 0;
}

#envoyer{
    width: 30%;
    height: 40px;
    background-color: orange;
    border-style: none;
    border-radius: 10px;
}

/* Footer  */

/* footer{
    position: absolute;
    top : 170%;
    width: 100%;

}

#footerPart1{
    width: 70%;
    height: min-content;
    /* border-style: solid; */
    /* margin-left: 10%;
    display: flex;
    justify-content: space-between;
    
} */

/* #reseau{
    display: flex;
    width:min-content;
    /* justify-content: space-between; */
/* }

.logoOrange{
    background-color: orange;
    height: 40px;
    width: 40px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tailleImage{
   
    height: 30px;
    width: 30px;
}

.pointOrange{
    color: orange;
}

.infoOrange{
    color: orange;
    font-weight: normal;
}

 #flecheOrange{
    height: 15px;
    width: 30px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    color: white;
    font-size: 40px;
    float: right;
    margin-right: 5%;
    margin-top: -25px;
} 

#copyRight{
    margin-left: 10%;
    margin-top: 5%;

} */

/* _______________________ */

#footerPart1{
    width: 70%;
    height: min-content;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
  }
  
  #reseau{
    display: flex;
    width:min-content;
  }
  
  .logoOrange{
    background-color: orange;
    height: 40px;
    width: 40px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tailleImage{
  
    height: 30px;
    width: 30px;
  }
  
  .pointOrange{
    color: orange;
  }
  
  .infoOrange{
    
    color: orange;
    font-weight: bold;
  }
  
  #copyRight{
    margin-left: 10%;
    margin-top: 5%;
  } 
  
  .ses5{
  background-color: rgb(14,11,41);
  position: absolute;
  top : 150%;
  width: 100%;
  }
  
  #info p{
    color: aliceblue;
    margin-bottom: 15px;
  }
  
  #power p {
    color: aliceblue;
    margin-top: 15px;
  }
  
  #info{
    margin-top: 5%;
  }
  
  #power{
    margin-top: 5%;
  }
  
  #copyRight {
    color: aliceblue;
  }
  
  #footerPart2{
    margin-bottom: 5%;
  }

  #flecheOrange{
    height: 15px;
    width: 30px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    color: white;
    font-size: 40px;
    float: right;
    margin-right: 5%;
    margin-top: -25px;
} 