/* #remove{

    font-size: 20px;

}  */


#remove:hover{
    background-color: gray;
    cursor: pointer;
}

#inject {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;

}



#remove p {
    text-align: center;
    color: yellow;
}


.injectStyle{
    z-index: 0;
}

.injectStyle:hover{

    background-color: orange;

}

#jeuxGlobal{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin : 20px auto auto auto;
    color: yellow;
}

#injectLvl{

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card{
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: red;
    
}

.memory{
    width: 600px;
    display: flex;
    /* height: 100%; */
    align-items: center;
    flex-direction: column;
    margin:auto auto auto auto;
}

.flexCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    
}

.carte{
    height: 100%;
    width: 100%;
    visibility: hidden;
}

#divPlay {
    margin: 40px auto 30px auto;
    width: 10%;
    color: white;
    font-size: 24px;
    background-color: orange;
    text-align: center;
    border-radius: 10px;
    z-index: 2;
}

#pPlay{
    z-index: 2;
}

#pTheme{
    z-index: 1;
}



#memoryPlace{
    /* height: 600px; */
    width: 70%;
    margin : auto auto auto auto;
    visibility: visible;
}

#divPlay {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

#chrono{
    visibility: hidden;
}